{% extends 'base.html' %}
{% load static %}

{% block title %}Purchases{% endblock %}

{% block content %}
    <div class="main-list-view-box">

        <div class="filter-form-box">
            <span class="total">Total: </span>
            <form method="GET" class="filter-form">
                {{ form }}
                <button type="submit" class="filter-btn">Filter</button>
            </form>
        </div>

        <table class="list-table">
            <tr>
                <th>
                    <div class="th-box">
                        <span>Item Name</span>
                        <div class="sort-arrows-box">
                            <a href="">
                                <i class="material-icons sort-icon">arrow_drop_up</i>
                            </a>
                            <a href="">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                            </a>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="th-box">
                        <span>Price</span>
                        <div class="sort-arrows-box">
                            <a href="">
                                <i class="material-icons sort-icon">arrow_drop_up</i>
                            </a>
                            <a href="">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                            </a>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="th-box">
                        <span>Producer</span>
                        <div class="sort-arrows-box">
                            <a href="">
                                <i class="material-icons sort-icon">arrow_drop_up</i>
                            </a>
                            <a href="">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                            </a>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="th-box">
                        <span>Room</span>
                        <div class="sort-arrows-box">
                            <a href="">
                                <i class="material-icons sort-icon">arrow_drop_up</i>
                            </a>
                            <a href="">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                            </a>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="th-box">
                        <span>Date of Purchase</span>
                        <div class="sort-arrows-box">
                            <a href="">
                                <i class="material-icons sort-icon">arrow_drop_up</i>
                            </a>
                            <a href="">
                                <i class="material-icons sort-icon">arrow_drop_down</i>
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.item }}</td>
                    <td>{{ item.producer }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.room }}</td>
                    <td>{{ item.date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}